{% extends 'master.html' %}
{% block content %}
    {% load static %}
    <div style="color: #28a745" class="pl-5">
    {% for message in messages %}
            <p>{{ message }}</p>

        {% endfor %}
    </div>
    
    <div class="row d-flex col-4 m-auto">
        
        <form method="post" action="{% url 'register_members-url' %}">
            {% csrf_token %}
            <fieldset><legend class="border-bottom mb-4"> Fill your details here</legend></fieldset>
            <div class="form-group">
                <label for="firstname"> First Name</label>
                <input type="text" class="form-control" name="m-fname" placeholder="Enter your first name" id="firstname"  required> <br>

                <label for="secondname"> Second Name</label>
                <input type="text" class="form-control" name="m-sname" placeholder="Enter your second name" id="secondname"  required> <br>

                <label for="idno"> ID No</label>
                <input type="number" class="form-control" name="m-idno" placeholder="Enter your ID no" id="idno"  required> <br>

                <label for="mobileno"> Mobile No</label>
                <input type="tel" class="form-control" name="m-mobileno" placeholder="Enter your Mobile no" id="mobileno"  required> <br>

                <label for="birthdate"> Date of Birth</label>
                <input type="date" class="form-control" name="m-dateofbirth" placeholder="Enter your Date of Birth" id="birthdate"  required> <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}